<script type="text/javascript" src="__ADMINPATH__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/layer/2.4/layer.js"></script>
 
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__ADMINPATH__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__ADMINPATH__/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<script type="text/javascript">
    //查看信息
    /*个人信息*/
    function myselfinfo(title,url,w,h){
        layer_show(title,url,w,h);
    }

    //修改密码
    function updatePassword(title,url,w,h){
        layer_show(title,url,w,h);
    }

</script>