<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<?php if((new \Auth())->check('admin/PhoneTypeBrand/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/PhoneTypeBrand/index', '')}" title="手机机型"><i class="Hui-iconfont Hui-iconfont-edit"></i> 手机机型</a></li>
					<?php }?>
					<?php if((new \Auth())->check('admin/chart/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/chart/index', '')}" title="贴图管理"><i class="Hui-iconfont Hui-iconfont-picture"></i> 贴图管理</a></li>
					<?php }?>
					<?php if((new \Auth())->check('admin/mask/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/mask/index', '')}" title="蒙版管理"><i class="Hui-iconfont Hui-iconfont-tuku"></i> 蒙版管理</a></li>
					<?php }?>
					<?php if((new \Auth())->check('admin/order/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/order/index', '')}" title="订单管理"><i class="Hui-iconfont Hui-iconfont-tuku"></i> 订单管理</a></li>
					<?php }?>
				</ul>
			</dd>
		</dl>
		<?php if($authGroupInfo['group_id'] == 1){?>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<?php if((new \Auth())->check('admin/roles/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/roles/index')}" title="角色管理">角色管理</a></li>
					<?php }?>
					<?php if((new \Auth())->check('admin/permissions/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/permissions/index')}" title="权限管理">权限管理</a></li>
					<?php }?>
					<?php if((new \Auth())->check('admin/users/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/users/index')}" title="管理员列表">管理员列表</a></li>
					<?php }?>
					<?php if((new \Auth())->check('admin/shops/', $userInfo['uid'])){ ?>
					<li><a href="{:url('admin/shops/index')}" title="管理员列表">商铺管理</a></li>
					<?php }?>

					<!--<li><a href="{:url('admin/roles/index')}" title="角色管理">角色管理</a></li>-->
					<!--<li><a href="{:url('admin/permissions/index')}" title="权限管理">权限管理</a></li>-->

				</ul>
			</dd>
		</dl>
		<?php }?>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>