<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>DIY 手机壳</title>
    <link rel="stylesheet" href="__INDEXPATH__/static/design.css">
    <link rel="stylesheet" href="__INDEXPATH__/static/iconfont.css">
    <script src="__INDEXPATH__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__INDEXPATH__/fabric.js"></script>
     <!--<script src="__INDEXPATH__/fabric2.4.2.js"></script>-->

    <style>
        .canvas-container{
            left:calc((100% - 252px) / 2);
            top:0px;
        }
    </style>
<body>
<div id="app">
    <div class="head" style="color: rgb(110, 110, 110);">
        <span id="msg" style=""> {$current['var_name']} 修改</span><!---->
    </div>
    <div class="content">
        <!-- <div id="info" style="background: #eef; width: 100px; position: absolute;top:0;left:0;">  
            <input type="text" id="click" value=""> <br/>
            <input type="text" id="tap" value=""> <br/>
            <input type="text" id="width" value=""> <br/>
            <input type="text" id="height" value=""> <br/>  
            <input type="text" id="gesture" value=""> <br/>
            <input type="text" id="fingers" value=""> <br/>
            <input type="text" id="state" value=""> <br/>
            <input type="text" id="rotation" value=""> <br/>
            <input type="text" id="scale" value=""> 
        </div> -->
        <i id="pde" class="p-sc iconfont icon-shanchu" style="position: absolute; left: 20px; top: 20px;display: none;"></i>
        <i id="pro" class="p-sf iconfont icon-suofang" style="position: absolute; left: 30px; top: 30px;display: none;"></i>

        <canvas id="paper" width="208px" height="435px" style="width: 208.352px; height: 435.42px;">此浏览器不支持canvas！</canvas>
        <div class="mask varbg1" style="position:relative;width: 208.352px; height: 435.42px; display:none;background-image: url({$current['var_template'][0]});"></div>
        <div class="mask mb varbg2" style="position:relative;width: 208.352px; height: 435.42px;  display:none;background-image: url({$current['var_template'][1]});"></div>
        <div class="mask pic maskbg" data-bg="" style="position:relative;display:none;width: 208.352px; height: 435.42px;"></div>

        <div class="paster" style="position:relative;width: 80px; height: 80px; display: none;cursor: move;">
        <!-- <i id="pde" class="p-sc iconfont icon-shanchu"></i>
        <i id="pro" class="p-sf iconfont icon-suofang"></i> -->
            <img id="pimg" src="" alt="">
        </div>
        <div class="preDiv" style="position:relative;display: none;position:relative;left: 24%;top: 20px;width: 208.352px;height: 435.42px;overflow: hidden;border: 1px dashed #ff0000;">
            <img id="pre" src="" alt="">
        </div>
        <div id="decorate" class="decorate" style="position: fixed;left:0;bottom:0;"><i>收起</i>
            <nav>
                <span class="active" data-index="0">蒙版</span>
                <span class="" data-index="1">贴图</span>
            </nav>
            <div>
                <div class="category"><!---->
                    <ul style="width: 320px;">
                        <li class="active">情侣</li>
                        <li class="">卡通</li>
                        <li class="">简约</li>
                        <li class="">钱币</li>
                    </ul>
                </div>
                <div class="d-list">
                    <ul style="width: 700px;">
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/77c3f2bc-b0c9-4e57-a30d-33ca67b42e9f.png" alt="加载失败"></li>
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/ca5dc1f8-b5c7-4086-9ea0-2e6509380bc2.png" alt="加载失败"></li>
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/927cbaf7-3e59-4b34-abf3-0502cf4ba5be.png" alt="加载失败"></li>
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/decdb7bc-4850-46ca-97a6-029aaaede02e.png" alt="加载失败"></li>
                        <li class="active"><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/44e67e0a-2ebb-427e-acd6-b025c730eb99.png" alt="加载失败"></li>
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/8ffc267a-9f99-4d40-aa86-e694bdac8664.png" alt="加载失败"></li>
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/daecc8e7-25bd-4fa0-8285-dea1b3d6ef37.png" alt="加载失败"></li>
                        <li class=""><img src="" alt="加载失败"></li>
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/5d43654a-5319-4ede-b723-c8b70621d94e.png" alt="加载失败"></li>
                        <li class=""><img src="http://www.shangyandiy.com/mobilediy/img/map/img/20180903/7de6daeb-ecaf-40ea-8ac1-5980a1427d59.png" alt="加载失败"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" style="z-index: 23;position: fixed;bottom: 0;">
        <div>上传照片</div>
        <div>选择素材</div>
        <div>提交</div>
        <input id="choose" type="file" accept="image/*">
    </div>
    <div class="loading" style="display: none;">
        <img src="__INDEXPATH__/static/loading.gif" alt="上传中，图片加载失败">
        <span>高清图片上传中</span> <span>请稍等...</span>
    </div>
    <div id="error"></div>
    <div class="order" id="orderPost" style="display: none;">
        <div>
            <h5>订单编号：{$orderNum}</h5>
            <form id="form2_orderPost" method="post">
                <input type="hidden" name="orderId"><br>
                <input type="text" name="tel" placeholder="请输入手机号"><br>
                <input type="text" name="name" placeholder="请输入姓名"><br>
                <input type="text" name="address" placeholder="请输入收货地址"><br>
            </form>
            <button class="submit submitPost">提交</button>
            <button class="esc">取消</button>
        </div>
    </div>

    <div class="order" id="orderPostSelf" style="display: none;">
        <div>
            <h5>订单编号：{$orderNum}</h5>
            <form id="form2_orderPostSelf" method="post">
                <input type="hidden" name="orderId"><br>
                <input type="text" name="tel" placeholder="请输入手机号[必填]" value="13523419188"><br>
                <input type="text" name="name" placeholder="请输入姓名" value="ahusd"><br>
            </form>
            <button class="submit submitSelf">提交</button>
            <button class="esc">取消</button>
        </div>
    </div>

    <div id="imgBox" class="order" style="overflow: hidden;display:none;position: absolute;left: 0;top: 0;z-index: 99;width: 100%;height: 100%;">
        <div>
            <h5>下单成功！</h5>
            <h5>订单编号：{$orderNum}</h5>
            <div id="xiaDan" data-imgurl="" style="width: 49.5%;height: 48px;line-height: 48px;background: #00aa66;float: left;color:#fff;">邮寄</div>
            <div id="cancelXD" style="width: 49.5%;height: 48px;line-height: 48px;background: #FFA500;float: right;color:#fff;">自提</div>
        </div>
    </div>
</div>
<script src="__INDEXPATH__/Event.js-master/js/Event.js"></script>
<script src="__INDEXPATH__/Event.js-master/demos/inc/MagicTouch.js"></script>
<script>
    //获取手机的当前视图的宽度 和高度
    console.log('浏览器当前窗口可视区域高度', $(window).height()); //浏览器当前窗口可视区域高度
    console.log('浏览器当前窗口文档的高度', $(document).height()); //浏览器当前窗口文档的高度
    console.log('浏览器当前窗口文档body的高度', $(document.body).height());//浏览器当前窗口文档body的高度
    console.log('浏览器当前窗口文档body的总高度 包括border padding margin', $(document.body).outerHeight(true));//浏览器当前窗口文档body的总高度 包括border padding margin
    console.log('浏览器当前窗口可视区域宽度', $(window).width()); //浏览器当前窗口可视区域宽度
    console.log('浏览器当前窗口文档对象宽度', $(document).width());//浏览器当前窗口文档对象宽度
    console.log('浏览器当前窗口文档body的高度', $(document.body).width());//浏览器当前窗口文档body的高度
    console.log('浏览器当前窗口文档body的总宽度 包括border padding margin', $(document.body).outerWidth(true));//浏览器当前窗口文档body的总宽度 包括border padding margin
    //left定位值 = 当前视图的宽度-canvas的宽度
    var a = ($(window).width() - 252)/2;
    console.log(a);
    $('#paper').css({
        left:a+'px',
        top:'0px'
    });
</script>
<script>
    fabric.Object.prototype.set({
        transparentCorners: false,
        cornerColor: 'rgba(102,153,255,0.5)',
        cornerSize: 12,
        padding: 5
    });

    var canvas = window._canvas = new fabric.Canvas('paper', {
        renderOnAddRemove: false,
        stateful: false,
        width:252,
        height:532,
        backgroundColor:'#fff'
    });

    console.log(canvas.wrapperEl.offsetTop);
    console.log(canvas.wrapperEl.offsetWidth);

    var bgSrc1 = $('.varbg2').css('backgroundImage').replace('url(','').replace(')','').replace("\"","").replace("\"","");
    var bgSrc2 = $('.varbg1').css('backgroundImage').replace('url(','').replace(')','').replace("\"","").replace("\"","");

    canvas.setBackgroundImage(bgSrc2, canvas.renderAll.bind(canvas), {
        width: canvas.width,
        height: canvas.height,
        repeat:'no-repeat',
        originX: 'left',
        originY: 'top',
        left:0,
        top:0,
        crossOrigin: 'anonymous'
    });
    canvas.selectionColor = 'rgba(0,255,0,0.3)';
    canvas.selectionBorderColor = 'red';
    canvas.selectionLineWidth = 5;

    // fabric.Canvas.prototype.getAbsoluteCoords = function(object) {
    //     //此处返回 要定位删除的一个控制点的位置 坐标
    //     console.log('被拖动元素 对象信息');
    //     console.log(object);
    //     console.log('canvas对象信息');
    //     console.log(this);
    //     return {
    //       left: object.aCoords.bl.x + this._offset.left,
    //       top: object.aCoords.bl.y + this._offset.top
    //     };
    // }

    // canvas.selections=false//取消框选
    // object.set('selectable',false)//单个元素禁止选中

    var scaleUploadV = 0.2;
    var scaleChartV = 0.4;
    var leftUploadV = 10;
    var leftChartV = 10;
    var topUploadV = 10;
    var topChartV = 10;
    var rotateUploadV = 0;
    var rotateChartV = 0;

    console.log('重绘shangchuan tup ash时参数：==初始化', scaleUploadV, leftUploadV, topUploadV, rotateUploadV);    
    console.log('重绘chart时参数：==初始化', scaleChartV, leftChartV, topChartV, rotateChartV);

    var btn = document.getElementById('pde'),
      btnWidth = 85,
      btnHeight = 18;

    eventjs.add(window, "drag", function(event, self) {
        //如果是down是按下开始拖动
        //获取当前选中对象
        var act_obj = canvas.getActiveObject(); 
        if(self.state == 'down'){
            var numObj = canvas.getObjects();//0是上传的图片   1为蒙版图片   2为贴图
            // console.log(numObj);
            
            if(act_obj){ 
                var tl = act_obj.aCoords.tl;
                var mtr = act_obj.oCoords.mtr;
                var brs = act_obj.getBoundingRect();
                // console.log(brs);
                // console.log(tl.x, tl.y);
                // console.log(act_obj.zIndex);

                var left = act_obj.left;
                var top = act_obj.top;
                
                if(left >= canvas._offset.left && top >= canvas._offset.top){
                    act_obj.set({
                        left: left,
                        top: top,
                        borderOpacityWhenMoving:0.5,
                        // centeredRotation:true,
                        originX:'center',
                        originY:'center',
                        border:'5px solid red'
                    });
                    
                    canvas.setActiveObject(act_obj);
                    canvas.renderAll();
                    
                }

                if(act_obj.zIndex == 0){
                    //上传的图片
                    leftUploadV = left;
                    topUploadV = top;
                    scaleUploadV = act_obj.scaleX;
                    rotateUploadV = act_obj.angle;
                    console.log('更新上传图片的left,top值');
                }else if(act_obj.zIndex == 1){

                }else if(act_obj.zIndex == 2){
                    //贴图  记录位置，缩放比例，旋转角度
                    console.log('更新贴图的left,top值');
                    leftChartV = left;
                    topChartV = top;
                    scaleChartV = act_obj.scaleX;
                    rotateChartV = act_obj.angle;
                }
                console.log('重绘shangchuan tup ash时参数：==moving', scaleUploadV, leftUploadV, topUploadV, rotateUploadV);    
                console.log('重绘chart时参数：==moving', scaleChartV, leftChartV, topChartV, rotateChartV);

                $('#pde').show().css({
                    left:(tl.x + canvas._offset.left - 10) + 'px',
                    top:(tl.y + 10) + 'px',
                    zIndex:99
                });
            }
        }else{
            //如果是up是抬起停止拖动
            if(act_obj){
                var tl = act_obj.aCoords.tl;
                var mtr = act_obj.oCoords.mtr;
                var brs = act_obj.getBoundingRect();
                // console.log(brs);
                // console.log(tl.x, tl.y);

                $('#pde').show().css({
                    left:(tl.x + canvas._offset.left - 10) + 'px',
                    top:(tl.y + 10) + 'px',
                    zIndex:99
                });
            }else{
                $('#pde').hide();
            }
        }
        console.log(act_obj);
        // console.log('拖动开始了');
        // console.log(canvas);
        // console.log(canvas.getActiveObject(act_obj));
        // console.log('拖动开始了left：'+left+"=====top:"+top);
        // console.log(self.state);
        // console.log(self.fingers);
        // console.log(self.state);//一个down,up
        // console.log(self.start);//起始xy的坐标点
        // console.log(self.x, self.y);//当前的坐标点x
        // console.log(self.y);//当前的坐标点y
        // console.log(self.bbox);//当前被拖动元素的宽高坐标信息
        // console.log(self.bbox.width);//当前被拖动元素的宽度
        // console.log('拖动结束了');
        // console.log(self.gesture, self.fingers, self.state, self.start, self.x, self.y, self.bbox);
    });

    var startScale = 1;
    var endScale = 1;

    eventjs.add(window, "gesture", function(event, self) {
        
        if(self.state == 'start'){
            // if(act_obj.zIndex == 0){
            //     startScale = scaleUploadV;
            // }else if(act_obj.zIndex == 1){

            // }else if(act_obj.zIndex == 2){
            //    startScale = scaleChartV;
            // }
            
        }else if(self.state == 'change'){
            //获取当前选中对象
            var act_obj = canvas.getActiveObject();
            // console.log(act_obj);
            if(act_obj){
                $('#width').val(scaleUploadV);
                $('#height').val(rotateUploadV);
                if(act_obj.zIndex == 0){
                    //判断图片是放大还是缩小 放大就累加 缩小就累减  
                    //在上一次缩放比例基础上进行放大或缩小
                    if(self.scale > 1){
                        //放大
                        scaleUploadV = endScale + self.scale/30;//每次触发事件都是从0.5开始
                        if(scaleUploadV >= 1 || self.scale >= 1){
                            scaleUploadV = 1;
                        }
                    }else{
                        //缩小
                        scaleUploadV = endScale - self.scale/30;//每次触发事件都是从0.5开始
                        if(scaleUploadV <= 0 || self.scale <= 0){
                            scaleUploadV = 0.2;
                        }
                    }
                    endScale = scaleUploadV;//存储最后的缩放比例 
                    rotateUploadV = self.rotation;
                    act_obj.set({
                        originX:'center',
                        originY:'center',
                        // centeredScaling:true,
                        // centeredRotation:true,
                        hasRotatingPoint:true,
                        angle:rotateUploadV
                    }).scale(scaleUploadV);
                    console.log('更新上传图片的缩放大小值');
                }else if(act_obj.zIndex == 1){

                }else if(act_obj.zIndex == 2){
                    //贴图  记录位置，缩放比例，旋转角度
                    if(self.scale > 1){
                        //放大
                        scaleChartV = endScale + self.scale/30;
                        if(scaleChartV >= 1 || self.scale >= 1){
                            scaleChartV = 1;
                        }
                    }else{
                        //缩小
                        scaleChartV = endScale - self.scale/30;//每次触发事件都是从0.5开始
                        if(scaleChartV <= 0 || self.scale <= 0){
                            scaleChartV = 0.2;
                        }
                    }
                    endScale = scaleChartV;//存储最后的缩放比例 
                    rotateChartV = self.rotation;
                    act_obj.set({
                        originX:'center',
                        originY:'center',
                        // centeredScaling:true,
                        // centeredRotation:true,
                        hasRotatingPoint:true,
                        angle:rotateChartV
                    }).scale(scaleChartV);
                    console.log('更新贴图 的缩放大小值');
                }
           

                canvas.setActiveObject(act_obj);
                canvas.renderAll();
                console.log('重绘shangchuan tup ash时参数：==gesture', scaleUploadV, leftUploadV, topUploadV, rotateUploadV);    
                console.log('重绘chart时参数：==gesture', scaleChartV, leftChartV, topChartV, rotateChartV);
            }
        }else{
            //结束手势
             //获取当前选中对象
            // var act_obj = canvas.getActiveObject();
            // if(act_obj){
                // if(act_obj.zIndex == 0){
                //     //上传的图片
                //     leftUploadV = act_obj.left;
                //     topUploadV = act_obj.top;
                //     scaleUploadV = self.scale;
                //     rotateUploadV = self.rotation;
                //     console.log('更新上传图片的left,top值');
                // }else if(act_obj.zIndex == 1){

                // }else if(act_obj.zIndex == 2){
                //     //贴图  记录位置，缩放比例，旋转角度
                //     console.log('更新贴图的left,top值');
                //     leftChartV = act_obj.left;
                //     topChartV = act_obj.top;
                //     scaleChartV = self.scale;
                //     rotateChartV = self.rotation;
                // }
                // endScale = self.scale;//存储最后的缩放比例 
            // }
        }
        
        // console.log('拖动开始了');
        // console.log(width);
        // console.log(height);
        // console.log(self.gesture);//当前被拖动元素的宽度
        // console.log(self.fingers);//1为end 2为change
        // console.log(self.minFingers);//1为end 2为change
        // console.log(self.maxFingers);//1为end 2为change
        // console.log(self.state);//手势状态：start,change和end
        // console.log(self.rotation);
        // console.log(self.scale);
        // console.log('拖动结束了');
    
        $('#gesture').val(self.maxFingers);
        $('#fingers').val(self.rotation);
        $('#fingers').val(self.scale);
        $('#state').val(self.state);
        $('#rotation').val(self.gesture);
        $('#scale').val(self.scale);
        // console.log(self.gesture, self.fingers, self.state, self.rotation, self.scale);
    });

    //删除canvas图层
    $('#pde').on('click', function(){
        //获取当前选中对象
        var act_obj = canvas.getActiveObject(); 
        if(act_obj){
            $(this).hide();
            canvas.remove(act_obj);
            canvas.renderAll();
        }
    });
</script>
<script>
    function getData(){
        var uploadImg = $('#pre').attr('src');
        var maskImg = $('.maskbg').data('bg');
        var chartImg = $('#pimg').attr('src');
        var data = [{ id: "1", src: $('.varbg2').css('backgroundImage').replace('url(','').replace(')','').replace("\"","").replace("\"","") }];
        if(uploadImg){
            data.push({
                id:"2",
                src:uploadImg
            });
        }
        if(maskImg){
            data.push({
                id:"3",
                src:maskImg
            });
        }
        if(chartImg){
            data.push({
                id:"4",
                src:chartImg
            });
        }
        data.push({ id: "5", src: $('.varbg1').css('backgroundImage').replace('url(','').replace(')','').replace("\"","").replace("\"","") });
        return data;
    }

    

    // function positionBtn(obj) {
    //     var absCoords = canvas.getAbsoluteCoords(obj);
    //     console.log('返回的移动点的坐标位置');
    //     console.log(absCoords.left, btnWidth / 2);
    //     console.log(absCoords.top, btnHeight / 2);
    //     // btn.style.left = (absCoords.left - btnWidth / 2) + 'px';
    //     // btn.style.top = (absCoords.top - btnHeight / 2) + 'px';
    //     btn.style.left = (absCoords.left) + 'px';
    //     btn.style.top = (absCoords.top) + 'px';
    //     btn.style.zIndex = 99;
    // }

    function drawCanvas(){
        console.log(getData());
        canvas.clear();//清空
        //设置背景1
        canvas.setBackgroundImage(bgSrc1, canvas.renderAll.bind(canvas), {
            width: canvas.width,
            height: canvas.height,
            repeat:'no-repeat',
            originX: 'left',
            originY: 'top',
            left:0,
            top:0,
            crossOrigin: 'anonymous'
        });
        if($('#pre').attr('src')){
            //画上传图片
            fabric.Image.fromURL($('#pre').attr('src'), function(oImg){
                //将图像向下缩放，并将其翻转，然后再将其添加到画布上
                oImg.perPixelTargetFind = true;
                oImg.scale(scaleUploadV).set('flipX', false);
                oImg.setControlVisible('tl', true);
                oImg.setControlVisible('tr', true);
                oImg.setControlVisible('bl', true);
                oImg.setControlVisible('br', true);
                oImg.setControlVisible('ml', false);
                oImg.setControlVisible('mt', false);
                oImg.setControlVisible('mr', false);
                oImg.setControlVisible('mb', false);
                oImg.setControlVisible('mtr', true);
                oImg.setCoords();
                canvas.add(oImg);
                itemIndex = oImg.zIndex;
                console.log('画上传图片层级顺序：'+oImg.zIndex);
                canvas.sendToBack(oImg);//将对象或多个选择的对象移动到绘制对象堆栈的底部
                canvas.setActiveObject(oImg);
                //重绘之后更新删除按钮的位置
                var tl = oImg.aCoords.tl;
                $('#pde').show().css({
                    left:(tl.x + canvas._offset.left - 10) + 'px',
                    top:(tl.y + 10) + 'px',
                    zIndex:99
                });
            }, {
                hasBorders:true,
                borderColor:'red',//选中框颜色
                cornerColor:'red',//选中手柄颜色
                hasBorder:true,
                borderDashArray:[3,3],
                cornerStyle:'circle',
                cornerSize:13,
                transparentCorners:false,
                originX:'left',
                originY:'top',
                left:leftUploadV,
                top:topUploadV,
                angle:rotateUploadV,
                zIndex:0
            });
        }
        
        //画蒙版
        fabric.Image.fromURL($('.maskbg').data('bg'), function(oImg){
            oImg.set('selectable',false);//单个元素禁止选中
            canvas.add(oImg);
            itemIndex = oImg.zIndex;
            console.log('画蒙版层级顺序：'+oImg.zIndex);
        },{
            width: canvas.width,
            height: canvas.height,
            zIndex:1
        });
        if($('#pimg').attr('src')){
             //画贴图
            fabric.Image.fromURL($('#pimg').attr('src'), function(oImg){
                //将图像向下缩放，并将其翻转，然后再将其添加到画布上
                oImg.perPixelTargetFind = true;
                oImg.scale(scaleChartV).set('flipX', false);
                oImg.setControlVisible('tl', true);
                oImg.setControlVisible('tr', true);
                oImg.setControlVisible('bl', true);
                oImg.setControlVisible('br', true);
                oImg.setControlVisible('ml', false);
                oImg.setControlVisible('mt', false);
                oImg.setControlVisible('mr', false);
                oImg.setControlVisible('mb', false);
                oImg.setControlVisible('mtr', true);
                oImg.setCoords();
                canvas.add(oImg);
                canvas.setActiveObject(oImg);
                //在控制点位置上画一个圆形
                // var circle = new fabric.Circle({
                //   radius: 20, fill: 'green', left: -20, top: -20
                // });
                // var group = new fabric.Group([ oImg, circle ], {
                //   left: 50,
                //   top: 50,
                //   angle: -10
                // });
                // canvas.add(group);
                // //对组内元素 进行设置
                //重绘之后更新删除按钮的位置
                var tl = oImg.aCoords.tl;
                $('#pde').show().css({
                    left:(tl.x + canvas._offset.left - 10) + 'px',
                    top:(tl.y + 10) + 'px',
                    zIndex:99
                });
                
                console.log(oImg);
                //把删除按钮定位到左上角位置
                
            },{
                hasBorders:true,
                borderColor:'red',//选中框颜色
                cornerColor:'red',//选中手柄颜色
                hasBorder:true,
                borderDashArray:[3,3],
                cornerStyle:'circle',
                cornerSize:13,
                transparentCorners:false,
                originX:'left',
                originY:'top',
                left:leftChartV,
                top:topChartV,
                angle:rotateChartV,
                zIndex:2
            });
        }
       
        //画边框2
        canvas.setOverlayImage(bgSrc2, canvas.renderAll.bind(canvas), {
            width: canvas.width,
            height: canvas.height,
            repeat:'no-repeat',
            originX: 'left',
            originY: 'top',
            left:0,
            top:0,
            crossOrigin: 'anonymous'
        });
        
        canvas.renderAll();//重绘

        console.log('重绘shangchuan tup ash时参数：', scaleUploadV, leftUploadV, topUploadV, rotateUploadV);
        console.log('重绘chart时参数：', scaleChartV, leftChartV, topChartV, rotateChartV);
//        下移：canvas.sendBackwards(canvas.getActiveObject());
//        上移：canvas.bringForward(canvas.getActiveObject());
//        置顶：canvas.bringToFront(canvas.getActiveObject());
//        置底：canvas.sendToBack(canvas.getActiveObject());
    }

    

    $(document).ready(function(){

       //邮寄点击
        $('#xiaDan').on('click', function(){
            console.log('aaa');
            $('#imgBox').hide();
            $('#orderPost').show();
        });

        //自提
        $('#cancelXD').on('click', function(){
            $('#imgBox').hide();
            $('#orderPostSelf').show();
        });

        //邮寄下单提交表单
        $('.submitPost').on('click', function(){
            console.log('邮寄下单提交表单');
            var orderNum = '{$orderNum}';//订单编号
            var PhoneTypeId = '{$phoneTypeNameId}';//手机机型
            var PhoneType = '{$phoneTypeName}';//手机机型
            var PhoneVarietiesId = '{$phoneVarietiesNameId}';//品种名称
            var PhoneVarieties = '{$phoneVarietiesName}';//品种名称
            var var_type_id = '{$varTypeNameId}';//品种类型
            var var_type = '{$varTypeName}';//品种类型
            var tel = $('#orderPost input[name=tel]').val();
            var name = $('#orderPost input[name=name]').val();
            var address = $('#orderPost input[name=address]').val();
            var pic = $('#xiaDan').data('imgurl');
            var userId = "{$userId}";
            if(!tel || !name || !address || !pic){
                alert('表单信息不能为空');
                return false;
            }
            //手机号正则
            var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
            //电话
            var phone = $.trim(tel);
            if (!phoneReg.test(tel)) {
                alert('请输入有效的手机号码！');
                return false;
            }
            //把图片进行上传并且返回图片的完整地址
            console.log(pic);

            //ajax表单提交订单
            $.ajax({
                type: "post",
                url: "/ajaxPost.html",
                data:{
                    orderNum:orderNum,
                    tel:tel,
                    name:name,
                    address:address,
                    pic:pic,
                    PhoneTypeId:PhoneTypeId,
                    PhoneType:PhoneType,
                    PhoneVarietiesId:PhoneVarietiesId,
                    PhoneVarieties:PhoneVarieties,
                    var_type_id:var_type_id,
                    var_type:var_type,
                    userId:userId,
                    type:1
                },
                dataType: "json",
                success: function(data){
                    console.log(data);
                    if(data.code == 1){
                        var str = '<div><h5>下单成功！</h5>'+
                                '<h5>订单编号：{$orderNum}</h5>'+
                                '</div>';
                        $('#orderPost').empty().append(str);
                    }else{
                        alert(data.msg);
                    }

                }
            });

        });

        //自提下单提交表单
        $('.submitSelf').on('click', function(){
            console.log('自提下单');
            var orderNum = '{$orderNum}';//订单编号
            var PhoneTypeId = '{$phoneTypeNameId}';//手机机型
            var PhoneType = '{$phoneTypeName}';//手机机型
            var PhoneVarietiesId = '{$phoneVarietiesNameId}';//品种名称
            var PhoneVarieties = '{$phoneVarietiesName}';//品种名称
            var var_type_id = '{$varTypeNameId}';//品种类型
            var var_type = '{$varTypeName}';//品种类型
            var tel = $('#orderPostSelf input[name=tel]').val();
            var name = $('#orderPostSelf input[name=name]').val();
            var pic = $('#xiaDan').data('imgurl');
            var userId = "{$userId}";
            var postData = {
                orderNum:orderNum,
                tel:tel,
                name:name,
                address:'',
                pic:pic,
                PhoneTypeId:PhoneTypeId,
                PhoneType:PhoneType,
                PhoneVarietiesId:PhoneVarietiesId,
                PhoneVarieties:PhoneVarieties,
                var_type_id:var_type_id,
                var_type:var_type,
                userId:userId,
                type:2
            };
            console.log(postData);
            console.log(tel, !tel);
            if(!tel || !pic){
                console.log('表单信息不能为空');
            }
            //手机号正则
            var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
            //电话
            var phone = $.trim(tel);
            if (!phoneReg.test(tel)) {
                alert('请输入有效的手机号码！');
                return false;
            }
            //把图片进行上传并且返回图片的完整地址
            console.log(pic);

            //ajax表单提交订单
            $.ajax({
                type: "post",
                url: "/ajaxPost.html",
                data:postData,
                dataType: "json",
                success: function(data){
                    if(data.code == 1){
                        var str = '<div><h5>下单成功！</h5>'+
                                '<h5>订单编号：{$orderNum}</h5>'+
                                '</div>';
                        $('#orderPostSelf').empty().append(str);
                    }else{
                        alert(data.msg);
                    }

                }
            });

        });

        //取消表单提交
        $('.order .esc').on('click', function(){
            $(this).parents('.order').hide();
        });

        $('.showImgDiv #cancelXD').on('click', function(){
            $(this).parent().hide().find('#showImg').attr('src', '');
        });

        //点击提交  把图片生成高清图片并传到服务器上之后返回URL地址
        $('.footer div:nth-child(3)').on('click', function(){
            //判断蒙版，贴图或者上传图片任意有一个就可以进行提交
            var uploadImg = $('#pre').attr('src');
            var maskImg = $('.maskbg').data('bg');
            var chartImg = $('#pimg').attr('src');
            // if(!uploadImg || !maskImg || !chartImg){
            //     alert('请先自定义设置手机壳样式');
            //     return false;
            // }
            $('#pde').hide();

            //点击预览时取消当前选中的对象
            canvas.discardActiveObject();//取消选中框
            canvas.backgroundImage = null;//去除底层背景图片
            canvas.overlayImage = null;//去除顶部背景图片
            canvas.renderAll.bind(canvas);//重新渲染

            //将canvas元素导出到dataurl图像
            var dataURL = canvas.toDataURL({
                format: 'png',
                quality: 0.8,
                left: 0,
                top: 0,
                width: 252,
                height: 532
            });
            //提示高清图片正在上传中。。。
            $.ajax({
                type: "post",
                url: "/ajaxUploadImage.html",
                data:{
                    imgBase64:dataURL
                },
                dataType: "json",
                beforeSend:function(){
                    //发送前响应
                    $('.loading').show();
                },
                success: function(data){
                    //成功
                    console.log(data);
                    if(data.code == 1){
                        $('.loading').hide();
                        $('#xiaDan').data('imgurl', data.data);
                        $('#imgBox').show().css({
                            zIndex:30
                        });
                    }else{

                    }
                    
                },
                complete:function(){
                    //完成响应

                },
                error:function(data){
                    console.log("error: " + data.responseText);
                }
            });
        });

        //选中图片上传
        $('#choose').on('change', function(e){
            console.log(this.value);
            if (this.files && this.files[0]) {
                var reader = new FileReader();//5.实例化一个FileReader()接口
                reader.readAsDataURL(this.files[0]);//6.通过readAsDataURL()方法读取文件，将图片内嵌在网页之中
                reader.onload = function(evt) {
                    //7.调用FileReader()的onload事件，当文件读取成功时，执行8
                    //8.将reader的result属性值赋值给data.parentNode.childNodes[1].childNodes[1].src，实现图片预览
                    $('#pre').attr('src', evt.target.result);
                    $('#pde').hide();
                    drawCanvas();
                }
            }
        });

        //选中哪个图片更换哪个图片地址
        $('.d-list').on('click', 'ul li', function(){
            $(this).addClass('active').siblings().removeClass('active');
            var s = $(this).find('img').attr('src');
            //判断当前是 贴图还是蒙版
            var index = $('#decorate nav span.active').data('index');
            if(index == 0){
                //0蒙版直接更换大图
                $('.pic').css("background-image","url(" + s + ")").data('bg', s);
                $('#pde').hide();
                drawCanvas();
            }else{
                //贴图是小图 可更改大小和显示位置可挪动
                $('.paster').find('img').attr('src', s);
                $('#pde').hide();
                drawCanvas();
            }
            console.log(s);
        });


        inits();
        function inits(){
            $('#decorate').hide();//隐藏贴图蒙版模块
            //加载 一下默认蒙版选中的数据显示
            var index = $('#decorate nav span.active').data('index');
            isNum(index);
            console.log(index);
        }

        //点击蒙版贴图调出
        $('.footer div:nth-child(2)').on('click', function(){
            $('#decorate').show();
        });
        //点击 收起
        $('#decorate').on('click', 'i', function(){
            $('#decorate').hide();
        });

        //点击 选择图片
        $('.footer div:nth-child(1)').on('click', function(){
            $('#choose').click();//打开本地上传文件 对话框
        });

        //点击蒙版和切图切换
        $('#decorate').on('click', 'nav span', function(){
            $(this).addClass('active').siblings('span').removeClass('active');
            //判断是蒙版被点击还是切图被 点击
            var index = $(this).data('index');//0蒙版  1切图
            isNum(index);
            console.log(index);
        });

        //category分类点击加载图片
        $('.category').on('click', 'ul li', function(){
            $(this).addClass('active').siblings().removeClass('active');
            //判断当前是 贴图还是蒙版
            var index = $('#decorate nav span.active').data('index');
            //获取分类下 id
            var cateId = $(this).data('id');
            if(index == 0){
                //获取蒙版分类下图片
                $.ajax({
                    type: "get",
                    url: "/ajaxGetMaskCategoryPicturesById/"+cateId+".html",
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                        if(data.code == 1){
                            var str = '';
                            $.each(data.data, function(i, item){
                                if(i==0){
                                    str += '<li data-id="'+item['id']+'" class="active"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                }else{
                                    str += '<li data-id="'+item['id']+'"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                }
                            });
                            $('.d-list ul').empty().append(str);
                        }else{
                            //机型为空
                            alert('蒙版图片为空');
                        }

                    }
                });
            }else{
                //获取贴图分类下图片
                $.ajax({
                    type: "get",
                    url: "/ajaxGetChartCategoryPicturesById/"+cateId+".html",
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                        if(data.code == 1){
                            var str = '';
                            $.each(data.data, function(i, item){
                                if(i==0){
                                    str += '<li data-id="'+item['id']+'" class="active"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                }else{
                                    str += '<li data-id="'+item['id']+'"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                }
                            });
                            $('.d-list ul').empty().append(str);
                        }else{
                            //机型为空
                            alert('蒙版图片为空');
                        }

                    }
                });
            }
        });

        $('.paster').on('mouseover', function(){
            $('#pde').show();
            $('#pro').show();
            $(this).css('border', '1px dashed #cccccc');
        });
        $('.paster').on('mouseout', function(){
            $('#pde').hide();
            $('#pro').hide();
            $(this).css('border', 'none');
        });

        //隐藏掉贴图框
        $('#pde').on('click', function(){
            $('.paster').hide();
        });

        //隐藏掉上传的图框
        $('#prePde').on('click', function(){
            $(this).parent().hide();
        });
    });

    function isNum(index){
        if(index == 0){
            $.ajax({
                type: "get",
                url: "/ajaxGetMaskCategorys.html",
                dataType: "json",
                success: function(data){
                    console.log(data);
                    if(data.code == 1){
                        var str = '';
                        $.each(data.data, function(i, item){
                            if(i==0){
                                str += '<li data-id="'+item['id']+'" class="active">'+item['cate_name']+'</li>';
                            }else{
                                str += '<li data-id="'+item['id']+'">'+item['cate_name']+'</li>';
                            }
                            console.log(item['type_name']);
                        });
                        $('.category ul').empty().append(str);
                        //去加载第一个分类下的图片列表
                        $.ajax({
                            type: "get",
                            url: "/ajaxGetMaskCategoryPicturesById/"+data.data[0]['id']+".html",
                            dataType: "json",
                            success: function(data){
                                console.log(data);
                                if(data.code == 1){
                                    var str = '';
                                    $.each(data.data, function(i, item){
                                        if(i==0){
                                            str += '<li data-id="'+item['id']+'" class="active"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                        }else{
                                            str += '<li data-id="'+item['id']+'"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                        }
                                    });
                                    $('.d-list ul').empty().append(str);
                                }else{
                                    //机型为空
                                    alert('蒙版图片为空');
                                }

                            }
                        });
                    }else{
                        //机型为空
                        alert('蒙版分类为空');
                    }

                }
            });
        }else if(index == 1){
            //加载贴图分类
            $.ajax({
                type: "get",
                url: "/ajaxGetChartCategorys.html",
                dataType: "json",
                success: function(data){
                    console.log(data);
                    if(data.code == 1){
                        var str = '';
                        $.each(data.data, function(i, item){
                            if(i==0){
                                str += '<li data-id="'+item['id']+'" class="active">'+item['cate_name']+'</li>';
                            }else{
                                str += '<li data-id="'+item['id']+'">'+item['cate_name']+'</li>';
                            }
                            console.log(item['type_name']);
                        });
                        $('.category ul').empty().append(str);
                        //去加载第一个分类下的图片列表
                        $.ajax({
                            type: "get",
                            url: "/ajaxGetChartCategoryPicturesById/"+data.data[0]['id']+".html",
                            dataType: "json",
                            success: function(data){
                                console.log(data);
                                if(data.code == 1){
                                    var str = '';
                                    $.each(data.data, function(i, item){
                                        if(i==0){
                                            str += '<li data-id="'+item['id']+'" class="active"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                        }else{
                                            str += '<li data-id="'+item['id']+'"><img src="'+item['pic_path']+'" alt="加载失败"></li>';
                                        }
                                    });
                                    $('.d-list ul').empty().append(str);
                                }else{
                                    //机型为空
                                    alert('蒙版图片为空');
                                }

                            }
                        });
                    }else{
                        //机型为空
                        alert('蒙版分类为空');
                    }

                }
            });
        }
    }
</script>



</body>
</html>