{extend name="layout:index" /}

{block name="title"}
<title>商铺列表</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
<link href="__ADMINPATH__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<style>
  .col-5 {
    width: 99.66667%;
  }
</style>
{/block}

{block name="bodyMain"}
<div class="pd-20">
  <form class="form form-horizontal" id="form-phone-brand-add">
    <input type="hidden" name="__token__" value="{$token}"/>
      <input type="hidden" name="id" value="{$data.id}"/>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$data.brand_name}" placeholder="" id="brand_name" name="brand_name">
      </div>
      <div class="col-5" > </div>
    </div>

     <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">选择图片</div>
                    <!--<button id="btn-star" type="button" class="btn btn-default btn-uploadstar radius ml-10">开始上传</button>-->
                </div>
                <div class="imgObj" style="margin: 5px 0;width: 150px;height: 150px;">
                  <input type="hidden" id="brand_logo" name="brand_logo" value="{$data.brand_logo}">
                  <img src="{$data.brand_logo}" alt="" style="width: 100%;">
                </div>
            </div>
        </div>

    <!--<div class="row cl">-->
      <!--<label class="form-label col-xs-4 col-sm-2">备注：</label>-->
      <!--<div class="formControls col-5">-->
        <!--<textarea id="cate_description" name="cate_description" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,100)"></textarea>-->
        <!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>-->
      <!--</div>-->
      <!--<div class="col-5"> </div>-->
    <!--</div>-->
    <div class="row cl">
      <div class="col-9 col-offset-2">
        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
      </div>
    </div>
  </form>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="layout/_footer" /}
<!--/_footer /作为公共模版分离出去-->

{block name="javascript"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMINPATH__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

  $("#form-phone-brand-add").validate({
    rules:{
      brand_name:{
        required:true,
        minlength:2,
        maxlength:16
      },
      brand_logo:{
        required:true,
      }
    },
    onkeyup:false,
    focusCleanup:true,
    success: "valid",
    submitHandler:function(form){
        $(form).ajaxSubmit({
          url:"{:url('admin/PhoneTypeBrand/editPhoneTypeBrand', ['id'=>$data.id])}",//form提交数据的地址  data数据不用带了自动加上了
          type:'post',　　　  //form提交的方式(method:post/get)
          beforeSerialize:function(){}, //序列化提交数据之前的回调函数
          beforeSubmit:function(){},　　//提交前执行的回调函数
          success:function(responseData){
            if(responseData.code == 1){
              //添加成功
              layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
              setTimeout(function(){
                var index = parent.layer.getFrameIndex(window.name);//获取子页面元素
                parent.location.reload();//刷新父页面
                parent.layer.close(index);//关闭子页面元素
              },1000);//定时器关闭子页面
            }else{
              //添加失败
              layer.msg(responseData.msg,{icon:"5",time:responseData.wait*1000});
            }
          },//提交成功后执行的回调函数
          error:function(responseData){
            layer.msg('提交失败',{icon:"5",time:3*1000});
          },//提交失败执行的函数
          dataType:'json',　　　　　　　//服务器返回数据类型
          clearForm:true,　　　　　　 //提交成功后是否清空表单中的字段值
          restForm:true,　　　　　　  //提交成功后是否重置表单中的字段值，即恢复到页面加载时的状态
          timeout:6000 　　　　　 　 //设置请求时间，超过该时间后，自动退出请求，单位(毫秒).
        });

      return false;
    }
  });

  //图片上传

  $list = $("#fileList"),
          $btn = $("#btn-star"),
          state = "pending",
          uploader;

  var uploader = WebUploader.create({
            auto: true,
            swf: 'lib/webuploader/0.1.5/Uploader.swf',
            formData: {
              _token: "{$token}"
            },

            // 文件接收服务端。
            server: "{:url('admin/PhoneTypeBrand/uploadPhoneTypeBrandPicture')}",

           // 选择文件的按钮。可选。
          // 内部根据当前运行是创建，可能是input元素，也可能是flash.
          pick: {
            id: '#filePicker',
            multiple:false,
            label: '点击选择模板'
          },
          fileNumLimit:1,
          fileSizeLimit: 20*1024*1024,//限制上传所有文件大小
          fileSingleSizeLimit: 20*1024*1024,//限制上传单个文件大小

           // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
          resize: false,
          // 只允许选择图片文件。
          accept: {
            title: 'Files',
            extensions: 'gif,jpg,jpeg,png',
            mimeTypes: 'image/*'
  }
});
  uploader.on( 'fileQueued', function( file ) {
    var $li = $(
                    '<div id="' + file.id + '" class="item">' +
                    '<div class="pic-box"><img></div>'+
                    '<div class="info">' + file.name + '</div>' +
                    '<p class="state">等待上传...</p>'+
                    '</div>'
            ),
            $img = $li.find('img');
    $list.append( $li );

    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
//            uploader.makeThumb( file, function( error, src ) {
//                if ( error ) {
//                    $img.replaceWith('<span>不能预览</span>');
//                    return;
//                }
//
//                $img.attr( 'src', src );
//            }, thumbnailWidth, thumbnailHeight );
  });
  // 文件上传过程中创建进度条实时显示。
  uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
            $percent = $li.find('.progress-box .sr-only');

    // 避免重复创建
    if ( !$percent.length ) {
      $percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo( $li ).find('.sr-only');
    }
    $li.find(".state").text("上传中");
    $percent.css( 'width', percentage * 100 + '%' );
  });

  uploader.on('error', function(handler) {
    if(handler=="Q_EXCEED_NUM_LIMIT"){
      layer.msg('超出最大文件数',{icon:"5",time:1000});
    }
    if(handler=="F_DUPLICATE"){
      layer.msg('文件重复',{icon:"5",time:1000});
    }
  });

  // 文件上传成功，给item添加成功class, 用样式标记上传成功。
  uploader.on( 'uploadSuccess', function( file , response) {
    console.log(typeof response._raw);
    var res = eval('(' + response._raw + ')');
    console.log(res.savepath);
    //此处赋值imgurl地址给图片元素
    $('.imgObj').find('img').attr('src', res.savepath);
    $('input[name=brand_logo]').val(res.savepath);
    $( '#'+file.id ).addClass('upload-state-success').find(".state").text("已上传");
  });

  // 文件上传失败，显示上传出错。
  uploader.on( 'uploadError', function( file , reason) {
    layer.msg(file.name+'上传出错了',{icon:"5",time:3*1000});
    $( '#'+file.id ).addClass('upload-state-error').find(".state").text("上传出错");
  });

  // 完成上传完了，成功或者失败，先删除进度条。
  uploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress-box').fadeOut();
  });
  uploader.on('all', function (type) {
    if (type === 'startUpload') {
      state = 'uploading';
    } else if (type === 'stopUpload') {
      state = 'paused';
    } else if (type === 'uploadFinished') {
      state = 'done';
    }

    if (state === 'uploading') {
      $btn.text('暂停上传');
    } else {
      $btn.text('开始上传');
    }
  });

  $btn.on('click', function () {
    if (state === 'uploading') {
      uploader.stop();
    } else {
      uploader.upload();
    }
  });



});
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}

{/block}