{extend name="layout:index" /}

{block name="title"}
<title>商铺列表</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
<style>
	.icheckbox-blue, .iradio-blue{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 35%;
	}
</style>
{/block}

{block name="bodyMain"}

<!--_header 作为公共模版分离出去-->
{include file="layout/_header" /}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{include file="layout/_menu" /}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 贴图管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<!--<div class="text-c"> 日期范围：-->
				<!--<input type="text" name="start_time" onfocus="selecttime(1)" id="countTimestart" class="input-text Wdate" style="width:120px;">-->
				<!-- - -->
				<!--<input type="text" name="end_time" onfocus="selecttime(2)" id="countTimeend" class="input-text Wdate" style="width:120px;">-->
				<!--<input type="text" name="" id="" placeholder=" 图片名称" style="width:250px" class="input-text">-->
				<!--<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜图片</button>-->
			<!--</div>-->
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<!--<a href="javascript:;" onclick="category_all_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
					<a class="btn btn-primary radius" onclick="category_add('添加分类','{:url('admin/chart/addCategory')}', '600', '300')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a>
					<a class="btn btn-primary radius" onclick="picture_add('添加贴图','{:url('admin/chart/addChartPicture', ['id'=>0])}', '10001')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加贴图</a>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			<div class="mt-20 skin-minimal">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="40" style="position: relative;">
								<input name="" id="checkboxAll" type="checkbox" value="">
							</th>
							<th width="80">ID</th>
							<th width="100">分类</th>
							<!--<th width="100">封面</th>-->
							<!--<th>图片名称</th>-->
							<!--<th width="150">Tags</th>-->
							<th width="150">更新时间</th>
							<!--<th width="60">发布状态</th>-->
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					{foreach $data as $vo}
						<tr class="text-c">
							<td class="zsort" data-id="{$vo.id}" style="position: relative;">
								<input name="picCheck" type="checkbox" value="{$vo.id ?? ''}">
							</td>
							<td>{$vo.id ?? ''}</td>
							<td>{$vo.cate_name ?? ''}</td>
							<!--<td><a href="{:url('admin/chart/show', ['id'=>$vo.id])}"><img width="100" class="picture-thumb" src="__ADMINPATH__/temp/200x150.jpg"></a></td>-->
							<!--<td class="text-l"><a class="maincolor" href="{:url('admin/chart/show', ['id'=>$vo.id])}">现代简约 白色 餐厅</a></td>-->
							<!--<td class="text-c">标签</td>-->
							<td>{$vo.update_time ?? ''}</td>
							<!--<td class="td-status"><span class="label label-success radius">已发布</span></td>-->
							<td class="td-manage">
								<a href="{:url('admin/chart/show', ['id'=>$vo.id])}" target="_blank" class="btn btn-default radius size-MINI"><i class="Hui-iconfont">&#xe61d;</i>贴图管理</a>
								<a class="btn btn-secondary radius size-MINI" onClick="category_edit('分类编辑','{:url('admin/chart/editCategory', ['id'=>$vo.id])}', '600', '300')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i>编辑</a>
								<a class="btn btn-danger radius size-MINI" onClick="category_del('{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>
							</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="layout/_footer" /}
<!--/_footer /作为公共模版分离出去-->

{block name="javascript"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMINPATH__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
			//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			{"orderable":false,"aTargets":[0,3]}// 制定列不参与排序
		]
	});
	//全选与反选
	var checkAll = $('#checkboxAll');
	var checkboxes = $('input[name=picCheck]');
	checkAll.on('ifChecked ifUnchecked', function(event) {
		if (event.type == 'ifChecked') {
			checkboxes.iCheck('check');
		} else {
			checkboxes.iCheck('uncheck');
		}
	});
	checkboxes.on('ifChanged', function(event){
		if(checkboxes.filter(':checked').length == checkboxes.length) {
			checkAll.prop('checked', 'checked');
		} else {
			checkAll.removeProp('checked');
		}
		checkAll.iCheck('update');
	});
});

/*图片-添加*/
function picture_add(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url,
        end: function () {
            location.reload();//子窗口关闭时的回调函数，更新父窗口
        }
	});
	layer.full(index);//全屏显示，因为上方area设置了宽高所以此处关闭全屏
	console.log(index);
}

/*分类-添加*/
function category_add(title,url,w,h){
	layer.open({
		type: 2,
		area: [w+'px', h +'px'],
		title: title,
		content: url
	});
}

/*图片-查看*/
function picture_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-审核*/
function picture_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过'], 
		shade: false
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
/*图片-下架*/
function picture_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
		$(obj).remove();
		layer.msg('已下架!',{icon: 5,time:1000});
	});
}

/*图片-发布*/
function picture_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}
/*图片-申请上线*/
function picture_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*分类-编辑*/
function category_edit(title,url,w,h){
	var index = layer.open({
		type: 2,
		area: [w+'px', h +'px'],
		title: title,
		content: url
	});
//	layer.full(index);
}
/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}

/*分类-单条删除*/
function category_del(obj) {
	var postUrl = "{:url('admin/chart/del')}";
	layer.confirm('你确定要删除吗？', {
		btn: ['确定','取消'] //按钮
	}, function(){
		//model为数据模型类名
		$.post(postUrl, {"id":obj, 'model':'ChartCategory'}, function (responseData) {
			if (responseData.code == 1) {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/chart/index')}";
				},100)
			} else {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/chart/index')}";
				},100)
			}
		});
	}, function(){
		layer.msg('取消成功', {icon:"6",time: 1000});
	});
}
/*分类-多条删除*/
function category_all_del(){
	var postUrl = "{:url('admin/chart/del_all')}";
	var str = '';
	$(".zsort").each(function(){
		if($(this).find('input').prop('checked')){
			str += $(this).data('id')+',';
		}
	});
	if(!str){
		layer.msg('请先选中待删除数据', {icon:"6",time: 1000});
		return false;
	}
	layer.confirm('你确定要删除选中的多项吗？', {
		btn: ['确定','取消'] //按钮
	}, function(){
		//model为数据模型类名
		$.post(postUrl,{'id':str, 'model':'ChartCategory'},function(responseData){
			if (responseData.code == 1) {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/chart/index')}";
				},100)
			} else {
				layer.msg(responseData.msg,{icon:"5",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/chart/index')}";
				},100)
			}
		});
	}, function(){
		layer.msg('取消成功', {icon:"6",time: 1000});
	});
}

/*日期插件My97 DatePicker*/
function selecttime(flag){
	if(flag==1){
		var endTime = $("#countTimeend").val();
		if(endTime != ""){
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	}else{
		var startTime = $("#countTimestart").val();
		if(startTime != ""){
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	}
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}

{/block}