{extend name="layout:index" /}

{block name="title"}
<title>商铺列表</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
<link href="__ADMINPATH__/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
<style>
	.icheckbox-blue, .iradio-blue{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 35%;
	}
	.showImg{
		width: 50px;
		height: 100px;
	}
</style>
{/block}

{block name="bodyMain"}

<!--_header 作为公共模版分离出去-->
{include file="layout/_header" /}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{include file="layout/_menu" /}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 订单管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<!--<div class="text-c"> 日期范围：-->
				<!--<input type="text" name="start_time" onfocus="selecttime(1)" id="countTimestart" class="input-text Wdate" style="width:120px;">-->
				<!-- - -->
				<!--<input type="text" name="end_time" onfocus="selecttime(2)" id="countTimeend" class="input-text Wdate" style="width:120px;">-->
				<!--<input type="text" name="" id="" placeholder=" 图片名称" style="width:250px" class="input-text">-->
				<!--<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜图片</button>-->
			<!--</div>-->
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<!--<a href="javascript:;" onclick="category_all_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
					<a href="javascript:;" onclick="downLoadImgAll()" class="btn btn-success radius"><i class="Hui-iconfont">&#xe641;</i> 批量下载</a>
					<span>今日成交量：<strong style="color: red;border: 1px solid red;background-color: yellow;padding: 0 5px;">{$todyCount}</strong></span>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			<div class="mt-20 skin-minimal">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="40" style="position: relative;">
								<input name="" id="checkboxAll" type="checkbox" value="">
							</th>
							<th width="40">ID</th>
							<th width="50">订单编号</th>
							<th width="50">成品样图</th>
							<th>类型</th>
							<th>手机机型</th>
							<th>品种名称</th>
							<th>下单时间</th>
							<th width="180">操作</th>
							<th>邮寄地址</th>
							<th>联系电话</th>
							<th>收件人</th>
						</tr>
					</thead>
					<tbody>
					{foreach $data as $vo}
						<tr class="text-c">
							<td class="zsort" data-id="{$vo.id}" style="position: relative;">
								<input name="picCheck" type="checkbox" value="{$vo.id ?? ''}">
							</td>
							<td>{$vo.id ?? ''}</td>
							<td>{$vo.order_num ?? ''}</td>
							<td>
								<div style="width: 50px;height: 100px;" class="picbox">
									<a href="{$vo.pic}" data-lightbox="gallery" data-title="{$vo.order_num}">
										<!--startprint{$vo.id}-->
										<img src="{$vo.pic ?? ''}" alt="" style="max-width:100%;height:100%;margin: auto;">
										<!--endprint{$vo.id}-->
									</a>
								</div>
							</td>
							<td>{$vo.var_type_name ?? ''}</td>
							<td>{$vo.phone_type_name ?? ''}</td>
							<td>{$vo.phone_varieties_name ?? ''}</td>
							<td>{$vo.create_time ?? ''}</td>
							<td class="td-manage">
								<a style="text-decoration:none" class="btn btn-danger radius size-MINI" onClick="category_del('{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>
								<a class="btn btn-success radius size-MINI" href="{:url('admin/order/downLoadImg', ['imgUrl'=>$vo.pic])}" title="下载"><i class="Hui-iconfont">&#xe641;</i>下载</a>
								<a class="btn btn-success radius size-MINI" onClick="doPrint('{$vo.id}');" href="javascript:;" title="直接打印"><i class="Hui-iconfont">&#xe652;</i>直接打印</a>
							</td>
							<td>{$vo.address ?? ''}</td>
							<td>{$vo.tel ?? ''}</td>
							<td>{$vo.name ?? ''}</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="layout/_footer" /}
<!--/_footer /作为公共模版分离出去-->

{block name="javascript"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMINPATH__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript">
	function doPrint(oper) {
		bdhtml=window.document.body.innerHTML;
		sprnstr="<!--startprint"+oper+"-->"; //开始打印标识字符串有17个字符
		eprnstr="<!--endprint"+oper+"-->"; //结束打印标识字符串
		prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17); //从开始打印标识之后的内容
		prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr)); //截取开始标识和结束标识之间的内容
		console.log(prnhtml);
		window.document.body.innerHTML=prnhtml; //把需要打印的指定内容赋给body.innerHTML
		window.print(); //调用浏览器的打印功能打印指定区域
		window.document.body.innerHTML=bdhtml; // 最后还原页面
	}
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
			//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			{"orderable":false,"aTargets":[0,5]}// 制定列不参与排序
		]
	});
	//全选与反选
	var checkAll = $('#checkboxAll');
	var checkboxes = $('input[name=picCheck]');
	checkAll.on('ifChecked ifUnchecked', function(event) {
		if (event.type == 'ifChecked') {
			checkboxes.iCheck('check');
		} else {
			checkboxes.iCheck('uncheck');
		}
	});
	checkboxes.on('ifChanged', function(event){
		if(checkboxes.filter(':checked').length == checkboxes.length) {
			checkAll.prop('checked', 'checked');
		} else {
			checkAll.removeProp('checked');
		}
		checkAll.iCheck('update');
	});
});

/*图片-添加*/
function picture_add(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url,
        end: function () {
            location.reload();//子窗口关闭时的回调函数，更新父窗口
        }
	});
	layer.full(index);//全屏显示，因为上方area设置了宽高所以此处关闭全屏
	console.log(index);
}

/*分类-添加*/
function category_add(title,url,w,h){
	layer.open({
		type: 2,
		area: [w+'px', h +'px'],
		title: title,
		content: url
	});
}

/*分类-编辑*/
function category_edit(title,url,w,h){
	var index = layer.open({
		type: 2,
		area: [w+'px', h +'px'],
		title: title,
		content: url
	});
//	layer.full(index);
}

/*分类-单条删除*/
function category_del(obj) {
	var postUrl = "{:url('admin/order/del')}";
	layer.confirm('你确定要删除吗？', {
		btn: ['确定','取消'] //按钮
	}, function(){
		//model为数据模型类名
		$.post(postUrl, {"id":obj, 'model':'Order'}, function (responseData) {
			if (responseData.code == 1) {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/mask/index')}";
				},100)
			} else {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/mask/index')}";
				},100)
			}
		});
	}, function(){
		layer.msg('取消成功', {icon:"6",time: 1000});
	});
}
/*分类-多条删除*/
function category_all_del(){
	var postUrl = "{:url('admin/order/del_all')}";
	var str = '';
	$(".zsort").each(function(){
		if($(this).find('input').prop('checked')){
			str += $(this).data('id')+',';
		}
	});
	if(!str){
		layer.msg('请先选中待删除数据', {icon:"6",time: 1000});
		return false;
	}
	layer.confirm('你确定要删除选中的多项吗？', {
		btn: ['确定','取消'] //按钮
	}, function(){
		//model为数据模型类名
		$.post(postUrl,{'id':str, 'model':'Order'},function(responseData){
			if (responseData.code == 1) {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/mask/index')}";
				},100)
			} else {
				layer.msg(responseData.msg,{icon:"5",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/mask/index')}";
				},100)
			}
		});
	}, function(){
		layer.msg('取消成功', {icon:"6",time: 1000});
	});
}

/*日期插件My97 DatePicker*/
function selecttime(flag){
	if(flag==1){
		var endTime = $("#countTimeend").val();
		if(endTime != ""){
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	}else{
		var startTime = $("#countTimestart").val();
		if(startTime != ""){
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	}
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}

{/block}