{extend name="layout:index" /}

{block name="title"}
<title>管理员列表</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
<style>
	.icheckbox-blue, .iradio-blue{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 35%;
	}
</style>
{/block}

{block name="bodyMain"}

<!--_header 作为公共模版分离出去-->
{include file="layout/_header" /}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{include file="layout/_menu" /}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理员管理
		<span class="c-gray en">&gt;</span>
		商铺列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<!--<div class="text-c"> 日期范围：-->
				<!--<input type="text" name="start_time" onfocus="selecttime(1)" id="countTimestart" class="input-text Wdate" style="width:120px;">-->
				<!-- - -->
				<!--<input type="text" name="end_time" onfocus="selecttime(2)" id="countTimeend" class="input-text Wdate" style="width:120px;">-->
				<!--<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">-->
				<!--<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>-->
			<!--</div>-->
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<!--<a href="javascript:;" onclick="admin_all_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
					<a href="javascript:;" onclick="admin_add('添加商铺','{:url('admin/shops/addUser')}','800','500')" class="btn btn-success radius"><i class="Hui-iconfont">&#xe600;</i> 添加商铺</a>
					<!--<a href="javascript:;" onclick="admin_all_del()" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe68f;</i> 批量更新二维码</a>-->
					<a href="javascript:;" onclick="admin_all_del()" class="btn btn-success radius"><i class="Hui-iconfont">&#xe641;</i> 下载二维码</a>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg table-hover table-sort skin-minimal" style="width:100%">
				<thead>
					<tr>
						<th scope="col" colspan="11">商铺列表</th>
					</tr>
					<tr class="text-c">
						<th width="25" style="position: relative;"><input type="checkbox" id="checkboxAll" name="" value=""></th>
						<th width="40">ID</th>
						<th>店铺名称</th>
						<th>店铺地址</th>
						<th>联系人</th>
						<th width="60">到期时间</th>
						<th width="80">联系电话</th>
						<th width="100">店铺二维码</th>
						<th>调用次数</th>
						<th width="40">认证状态</th>
						<th width="158">操作</th>
					</tr>
				</thead>
				<tbody>
				{foreach $data as $vo}
					<tr class="text-c" data-id="{$vo.uid}">
						<td class="zsort" data-id="{$vo.uid}" style="position: relative;">
							<input type="checkbox" value="{$vo.uid ?? ''}" name="picCheck" >
						</td>
						<td>{$vo.uid ?? ''}</td>
						<td>{$vo.shop_name ?? ''}</td>
						<td>{$vo.address ?? ''}</td>
						<td>{$vo.real_name ?? ''}</td>
						<td>{$vo.end_time|strtotime|date="Y-m-d h:i:s",###}</td>
						<td>{$vo.phone ?? ''}</td>
						<td>
							<div class="qrcode" data-src="{$vo.shopUrl}"></div>
							<img class='imgOne'  style='border:1px solid #ccc;'/>
						</td>
						<td>{$vo.call_count ?? ''}</td>
						<td>
							<!--<a style="text-decoration:none" onClick="admin_stop('{$vo.uid}', '{$vo.status}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>-->
							<div class="switch size-MINI switchIsOpenPseudo" data-on="success" data-off="warning" data-id="{$vo->uid}">
								{if condition="$vo.status == 1"}
								<input type="checkbox" checked data-on-text="YES" data-off-text="NO"/>
								{else}
								<input type="checkbox" data-on-text="YES" data-off-text="NO" />
								{/if}
							</div>
						</td>
						<td class="td-manage">
							<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:url('admin/shops/editUser', ['uid'=>$vo.uid])}','1','800','500')" class="btn btn-secondary radius size-MINI" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>编辑</a>
							<a title="删除" href="javascript:;" onclick="admin_del('{$vo.uid}')" class="btn btn-danger radius size-MINI" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>
							<!--<a class="btn btn-success radius size-MINI" onclick="admin_update_code('{$vo.uid}')"><i class="Hui-iconfont">&#xe641;</i>更新Code</a>-->
							<a class="btn btn-success radius size-MINI" onclick="admin_down_code(this, {$vo.uid})"><i class="Hui-iconfont">&#xe641;</i>下载Code</a>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
		</article>
	</div>
</section>
<a></a>

<!--_footer 作为公共模版分离出去-->
{include file="layout/_footer" /}
<!--/_footer /作为公共模版分离出去-->

{block name="javascript"}
<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__ADMINPATH__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.qrcode.min.js"></script>
<script type="text/javascript">
	//更新二维码
//	function admin_update_code(thisUserIndex){
//		var qrcode = $('tr').eq(thisUserIndex).find('.qrcode').qrcode({
//			render: "canvas", //也可以替换为table
//			width: 100,
//			height: 100,
//			text: $(this).data('src')
//		}).hide();
//		var canvas = qrcode.find('canvas').get(0);
//		$('tr').eq(thisUserIndex).find('.imgOne').attr('src', canvas.toDataURL('image/jpg'));
//	}

	//下载二维码
	function admin_down_code(thisObj, thisUserIndex){
		var dataURL = $(thisObj).parents('tbody').find('.imgOne').attr('src');
		console.log(dataURL);
//		var type = "image/png"; // 定义图片类型（canvas转的图片一般都是png，也可以指定其他类型）
//		let conversions = base64ToBlob(dataURL, type); // 调用base64转图片方法
		// conversions就是转化之后的图片文件
//		console.log(conversions);
		var $a = $("<a></a>").attr("href", dataURL).attr("download", thisUserIndex+"code.png");
		$a[0].click();
	}

	function base64ToBlob(urlData, type) {
		let arr = urlData.split(',');
		let mime = arr[0].match(/:(.*?);/)[1] || type;
		// 去掉url的头，并转化为byte
		let bytes = window.atob(arr[1]);
		// 处理异常,将ascii码小于0的转换为大于0
		let ab = new ArrayBuffer(bytes.length);
		// 生成视图（直接针对内存）：8位无符号整数，长度1个字节
		let ia = new Uint8Array(ab);
		for (let i = 0; i < bytes.length; i++) {
			ia[i] = bytes.charCodeAt(i);
		}
		return new Blob([ab], {
			type: mime
		});
	}

	$(function(){
		//批量生成二维码
		$('.qrcode').each(function(){
			var qrcode = $(this).qrcode({
				render: "canvas", //也可以替换为table
				width: 100,
				height: 100,
				text: $(this).data('src')
			}).hide();
			var canvas = qrcode.find('canvas').get(0);
			$(this).siblings('.imgOne').attr('src', canvas.toDataURL('image/jpg'));
		});
		//switch点击失效时是受了icheck的影响  $('.skin-minimal input[name=picCheck]')
		$('.switchIsOpenPseudo').on('switch-change', function (e, data) {
			var $el = $(data.el),
					value = data.value;
			var id = $(this).data('id');
			console.log(id);
			if(value){
				//为真，开启
				$.ajax({
					type: "post",
					url: "{:url('admin/users/admin_stop')}",
					data:{
						status : 0,
						id : id,
						model:'Users'
					},
					dataType: "json",
					success: function(responseData){
						console.log(data);
						if (responseData.code == 1) {
							layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
						} else {
							layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
						}
					}
				});
			}else{
				//为假，关闭
				$.ajax({
					type: "post",
					url: "{:url('admin/users/admin_stop')}",
					data:{
						status : 1,
						id : id,
						model:'Users'
					},
					dataType: "json",
					success: function(responseData){
						console.log(data);
						if (responseData.code == 1) {
							layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
						} else {
							layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
						}
					}
				});
			}
		});


		$('.skin-minimal input[name=picCheck]').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});
		$('.table-sort').dataTable({
			"aaSorting": [[ 1, "desc" ]],//默认第几个排序
			"bStateSave": true,//状态保存
			"aoColumnDefs": [
				//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
				{"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
			]
		});
		//全选与反选
		var checkAll = $('#checkboxAll');
		var checkboxes = $('input[name=picCheck]');
		checkAll.on('ifChecked ifUnchecked', function(event) {
			if (event.type == 'ifChecked') {
				checkboxes.iCheck('check');
			} else {
				checkboxes.iCheck('uncheck');
			}
		});
		checkboxes.on('ifChanged', function(event){
			if(checkboxes.filter(':checked').length == checkboxes.length) {
				checkAll.prop('checked', 'checked');
			} else {
				checkAll.removeProp('checked');
			}
			checkAll.iCheck('update');
		});
	});
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj){
	var postUrl = "{:url('admin/users/del')}";
	layer.confirm('你确定要删除吗？', {
		btn: ['确定','取消'] //按钮
	}, function(){
		//model为数据模型类名
		$.post(postUrl, {"id":obj, 'model':'Users', 'model2':'AuthGroupAccess'}, function (responseData) {
			if (responseData.code == 1) {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/users/index')}";
				},100)
			} else {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/users/index')}";
				},100)
			}
		});
	}, function(){
		layer.msg('取消成功', {icon:"6",time: 1000});
	});
}

/*管理员-多条删除*/
function admin_all_del(){
	var postUrl = "{:url('admin/users/del_all')}";
	var str = '';
	$(".zsort").each(function(){
		if($(this).find('input').prop('checked')){
			str += $(this).data('id')+',';
		}
	});
	if(!str){
		layer.msg('请先选中待删除数据', {icon:"6",time: 1000});
		return false;
	}
	layer.confirm('你确定要删除选中的多项吗？', {
		btn: ['确定','取消'] //按钮
	}, function(){
		//model为数据模型类名
		$.post(postUrl,{'id':str, 'model':'Users', 'model2':'AuthGroupAccess'},function(responseData){
			if (responseData.code == 1) {
				layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/users/index')}";
				},100)
			} else {
				layer.msg(responseData.msg,{icon:"5",time:responseData.wait*1000});
				setTimeout(function(){
					window.location.href = "{:url('admin/users/index')}";
				},100)
			}
		});
	}, function(){
		layer.msg('取消成功', {icon:"6",time: 1000});
	});
}

/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}



/*日期插件My97 DatePicker*/
function selecttime(flag){
	if(flag==1){
		var endTime = $("#countTimeend").val();
		if(endTime != ""){
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	}else{
		var startTime = $("#countTimestart").val();
		if(startTime != ""){
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
			WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	}
}

</script> 
<!--/请在上方写此页面业务相关的脚本-->
{/block}

{/block}