{extend name="layout:index" /}

{block name="title"}
<title>添加管理员 - 管理员管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">

{/block}

{block name="bodyMain"}

<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">模块：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="model_name" size="1">
					<option value="admin" selected>admin</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">权限上级：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="pid" size="1">
					<option value="0">默认【顶级栏目】</option>
					{volist name="rules" id="vo"}
					<option value="{$vo.id}"
							{if condition="$vo.id eq $ruleInfo['pid']"}selected{/if}
							{if condition="$vo.pid neq 0"}disabled="disabled"{/if}>{$vo.title}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>title：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$ruleInfo['title']}" placeholder="" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" id="clickType" size="1">
					<option value="1" selected>控制器</option>
					<option value="2">方法</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl controllerObj" style="display: block;">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>控制器：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$ruleInfo['controller_name']}" placeholder="" name="controller_name">
			</div>
		</div>
		<div class="row cl controllerActionObj" style="display:{if condition="$ruleInfo['action_name']"}block{else}none{/if} ;">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>方法：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$ruleInfo['action_name']}" placeholder="" name="action_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">请求方式：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="post_type" size="1">
					<option value="ALL" {if condition="$ruleInfo['post_type'] eq 'ALL'"}selected{/if}>不限（ALL）</option>
					<option value="GET" {if condition="$ruleInfo['post_type'] eq 'GET'"}selected{/if}>GET</option>
					<option value="POST" {if condition="$ruleInfo['post_type'] eq 'POST'"}selected{/if}>POST</option>
					<option value="PUT" {if condition="$ruleInfo['post_type'] eq 'PUT'"}selected{/if}>PUT</option>
					<option value="DELETE" {if condition="$ruleInfo['post_type'] eq 'DELETE'"}selected{/if}>DELETE</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="layout/_footer" /}
<!--/_footer /作为公共模版分离出去-->

{block name="javascript"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ADMINPATH__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$('#clickType').change(function(){
		var index = $(this).val();
		if(index == 1){
			//显示控制器
			$('.controllerActionObj').hide().find('input[name=action_name]').val('');//清空值;
		}else{
			//显示控制器+方法
			$('.controllerActionObj').show();
		}
		console.log(index);
	});
	
	$("#form-admin-add").validate({
		rules:{
			model_name:{
				required:true,
			},
			pid:{
				required:true,
			},
			controller_name:{
				required:true,
			},
			action_name:{
				required:true,
			},
			post_type:{
				required:true,
			},
			title:{
				required:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				url:"{:url('admin/permissions/addPermission')}",//form提交数据的地址  data数据不用带了自动加上了
				type:'post',　　　  //form提交的方式(method:post/get)
				beforeSerialize:function(){}, //序列化提交数据之前的回调函数
				beforeSubmit:function(){},　　//提交前执行的回调函数
				success:function(responseData){
					if(responseData.code == 1){
						//添加成功
						layer.msg(responseData.msg,{icon:"6",time:responseData.wait*1000});
						setTimeout(function(){
							var index = parent.layer.getFrameIndex(window.name);//获取子页面元素
							parent.location.reload();//刷新父页面
							parent.layer.close(index);//关闭子页面元素
						},1000);//定时器关闭子页面
					}else{
						//添加失败
						layer.msg(responseData.msg,{icon:"5",time:responseData.wait*1000});
					}
				},//提交成功后执行的回调函数
				error:function(responseData){
					layer.msg('提交失败',{icon:"5",time:3*1000});
				},//提交失败执行的函数
				dataType:'json',　　　　　　　//服务器返回数据类型
				clearForm:true,　　　　　　 //提交成功后是否清空表单中的字段值
				restForm:true,　　　　　　  //提交成功后是否重置表单中的字段值，即恢复到页面加载时的状态
				timeout:6000 　　　　　 　 //设置请求时间，超过该时间后，自动退出请求，单位(毫秒).
			});

			return false;
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}

{/block}